.page-body{
    background-image: url(../images/ls.jpg);
    background-attachment: fixed;
    background-size: cover;
}
/*header*/
.page-header{
    /*background-color: aqua;*/
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    border-bottom: 2px solid rgb(131, 52, 52);
}
.header-title{
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    letter-spacing: 2px;
    color: rgb(45, 139, 33);
    font-weight: 1000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header-lox{
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    font-size: larger;
    text-transform: uppercase;
}

/*main*/
.wrapper{
    width: 80vw;
    margin-right: auto;
    margin-left: auto;
}
.hero-list{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.hero-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(119, 168, 41);
    width: min-content;
    margin-top: 30px;
    margin-bottom: 30px;
}
.hero-img{
    height: 350px;
}
.hero-desc{
    text-align: center;
    width: 50%;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    margin-left: 40px;
    min-width: 60vw;
}
.page-footer{
    background-color: beige;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.fixed-button{
    position: fixed;
    right: 10px;
    bottom: 15px;
    width: 200px;
    height: 100px;
    background-color: plum;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footerinfo{
    font-size: 30px;
    letter-spacing: 3px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}